apiVersion: apps/v1
kind: Deployment
metadata:
  name: pollution-dashboard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dashboard
  template:
    metadata:
      labels:
        app: dashboard
    spec:
      containers:
      - name: dashboard
        # 1. Image ECR
        image: 717892306191.dkr.ecr.eu-north-1.amazonaws.com/pollution-dashboard:latest
        ports:
        - containerPort: 5000
        env:
        # 2. Connexion RDS AWS
        - name: DB_HOST
          value: "pollution-db.crekogekug5m.eu-north-1.rds.amazonaws.com"
        - name: DB_NAME
          value: "postgres"
        - name: DB_USER
          value: "postgres"
        - name: DB_PASSWORD
          value: "MonSuperMotDePasse123!"
---
apiVersion: v1
kind: Service
metadata:
  name: dashboard-service
spec:
  type: NodePort
  selector:
    app: dashboard
  ports:
    - port: 80
      targetPort: 5000
      nodePort: 30007
